/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: darkgrey;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    flex-direction: column;
}

.container {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 550px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.5rem;
    color: white;
}

.subtitle {
    font-size: 1rem;
    color: white;
    margin-top: 10px;
}

#game-mode-section {
    margin-bottom: 20px;
    text-align: center;
}

#game-mode-section select {
    padding: 8px;
    border-radius: 5px;
    width: 80%;
    font-size: 1rem;
    border: 1px solid #ddd;
}

#players-section {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

#players-section input {
    width: 80%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid whitesmoke;
    margin-top: 10px;
    font-size: 1rem;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 60px);
    grid-gap: 8px;
    margin-bottom: 20px;
    justify-content: center;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
}

.square {
    width: 60px;
    height: 60px;
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.square:hover {
    background-color: #ddd;
}

#result {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

#winner-name {
    color: #007bff;
    font-weight: bold;
}

#reset {
    width:auto;
    padding: 8px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reset:hover {
    background-color: #0056b3;
}
